<%= form_for(@testr) do |f| %>
  <% if @testr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testr.errors.count, "error") %> prohibited this testr from being saved:</h2>

      <ul>
      <% @testr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :burp %><br>
    <%= f.text_field :burp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
