<h1>Listing testrs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Burp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testrs.each do |testr| %>
      <tr>
        <td><%= testr.name %></td>
        <td><%= testr.burp %></td>
        <td><%= link_to 'Show', testr %></td>
        <td><%= link_to 'Edit', edit_testr_path(testr) %></td>
        <td><%= link_to 'Destroy', testr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testr', new_testr_path %>
