<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testr.name %>
</p>

<p>
  <strong>Burp:</strong>
  <%= @testr.burp %>
</p>

<%= link_to 'Edit', edit_testr_path(@testr) %> |
<%= link_to 'Back', testrs_path %>
