<%= form_for(@user_bet) do |f| %>
  <% if @user_bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_bet.errors.count, "error") %> prohibited this user_bet from being saved:</h2>

      <ul>
      <% @user_bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wager %><br>
    <%= f.text_field :wager %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :team_name %><br>
    <%= f.text_field :team_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
