<h1>Listing homes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="row">
    <div class="col-md-12">
      <% @count = 0 %>
      <% @betCounter = 2 %>
      <% @MLBteams.each do |team| %>
        <div class ="row">
          <div class="col-md-2">

            <%= team.text %>
            <% if @count == 0 %>
            <br>
              vs.
              <% @count += 1 %>
            <%elsif @count == 1 %>
              <br>
              <% @count = 0 %>
            <% end %>
            <br>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block"><%= @MLBmoney[@betCounter].text %></button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block"><%= @MLBmoney[@betCounter-1].text %></button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block"><%= @MLBmoney[@betCounter-2].text %></button>
          </div>
        </div>
        <% @betCounter += 3 %>
      <% end %>
      </div>
    </div>
</table>

<br>

<%= link_to 'New Home', new_home_path %>
